<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New CSR</title>
  <link rel="stylesheet" href="{% static 'css/csr.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'main_view' %}">Main page</a>
    <a href="{% url 'search_form' %}">Search Form</a>
  </nav>

  <header>
    <h1>Create New API Check Status Request (CSR)</h1>
    <p>Fill out the form below to create a new API Check Status Request.</p>
  </header>

  <main>
    <div class="form-container">
      <form method="post" action="{% url 'submit_CSR' %}">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="user">User:</label>
        <input type="text" id="user" name="user">

        <label for="link">Link:</label>
        <input type="url" id="link" name="link">

        <label for="env">Environment:</label>
        <select id="env" name="env">
          <option value="prod">Prod</option>
          <option value="dev">Dev</option>
          <option value="test">Test</option>
        </select>

        <input type="hidden" id="environment" name="environment">

        <button type="submit" class="create-button">Create</button>
      </form>
    </div>
  </main>
</body>
</html>
