{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSR Details</title>
  <link rel="stylesheet" href="{% static 'css/csr.css' %}">
  </head>
<body>
  <header>
    <nav>
      <a href="{% url 'create_csr' %}">Create New CSR</a>
      <a href="{% url 'search_form' %}">Search Request</a>
    </nav>
  </header>
  <main>
    <div class="center">
      <h1>API Check Status Request (CSR)</h1>
      <p>Welcome to the API Check Status Request (CSR) application!</p>
      <p>Our platform allows you to search for previous requests using the request number or user name. Click on the <a href="{% url 'search_form' %}">Search Request</a> link above to access this feature.</p>
      <p>You can also create a new request for API status checks by clicking on the <a href="{% url 'create_csr' %}">New Request</a> link. Simply fill out the form with the required information and click the "Create" button.</p>
      <p>Experience the convenience and efficiency of monitoring API statuses with our user-friendly CSR application. Start simplifying your API validation process today!</p>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>
