{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Status Request</title>
  <link rel="stylesheet" href="{% static 'css/csr.css' %}">
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'main_view' %}">Main page</a>
      <a href="{% url 'create_csr' %}">Create New CSR</a>
    </nav>
  </header>
  <main>
    <h1>List of CSRs</h1>
    <h2>Something lists here</h2>
    <form action="{% url 'search_csr' %}" method="post">
      <label for="search">Search:</label>
      <input type="text" id="search" name="search">
      <button type="submit">Submit</button>
    </form>
    <div>
      <h3>
        <a href="detail.html">CSRs</a>
      </h3>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>
