{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    
</head>
<body>
    <nav>
        <a href="{% url 'main_view' %}">Main page</a>
        <a href="{% url 'create_csr' %}">Create New CSR</a>
    </nav>

    <h1>CSR Search</h1>

    <form method="GET" action="search_results.html">
        {% csrf_token %}

        <label for="id">Request ID:</label>
        <input type="text" name="id" id="id">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <button type="submit">Search</button>
    </form>

    <!-- Add any additional content or styling as needed -->

</body>
</html>
