<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <nav>
        <a href="{% url 'main_view' %}">Main page</a>
        <a href="{% url 'create_csr' %}">Create New CSR</a>
        <a href="{% url 'search_form' %}">Search Form</a>
    </nav>

    <div class="result-box">
        <h1>Search Results for "{{ search_query }}"</h1>
        <ul>
            {% for csr in csrs|slice:":10" %}
                <li>Request ID: {{ csr.request_id }}, Username: {{ csr.username }}</li>
            {% empty %}
                <li>No results found.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
