<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Report</title>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'main_view' %}">Main page</a>
      <a href="{% url 'create_csr' %}">Create New CSR</a>
      <a href="{% url 'search_form' %}">Search Form</a>
    </nav>
  </header>

  <div class="form-container">
    <h1>Status Report</h1>
    <form>
      <label for="link">Link:</label>
      <input type="text" id="link" name="link" value="{{ link }}"><br><br>

      <label for="status_code">Status Code:</label>
      <input type="text" id="status_code" name="status_code" value="{{ status_code }}"><br><br>

      <label for="status_description">Status Description:</label>
      <input type="text" id="status_description" name="status_description" value="{{ status_description }}"><br><br>

      <label for="created_at">Created At:</label>
      <input type="text" id="created_at" name="created_at" value="{{ created_at }}"><br><br>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="{{ username }}"><br><br>

      <label for="environment">Environment:</label>
      <input type="text" id="environment" name="environment" value="{{ environment }}"><br><br>

      {% if is_working %}
        <p><strong>Link Status:</strong> Link is working</p>
      {% else %}
        <p><strong>Link Status:</strong> Link is not working</p>
        <p>If you encounter an error, please contact the helpdesk for assistance.</p>
      {% endif %}
    </form>
  </div>
</body>
</html>
