<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Report</title>
  <link rel="stylesheet" href="{% static 'css/status_report.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'main_view' %}">Main page</a>
    <a href="{% url 'search_form' %}">Search Form</a>
  </nav>

  <header>
    <h1>Status Report for API Check Status Request (CSR)</h1>
  </header>

  <main>
    <div class="status-container">
      <p>Link: {{ link }}</p>
      <p>Status Code: {{ status_code }}</p>
      <p>Status Description: {{ status_description }}</p>
      <p>Is Working: {% if is_working %} Yes {% else %} No {% endif %}</p>
      <p>Created At: {{ created_at }}</p>
      <p>Username: {{ username }}</p>
      <p>Environment: {{ environment }}</p>
    </div>
  </main>
</body>
</html>
