/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Updated justify-content */
  align-items: center; /* Updated align-items */
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-start; /* Updated justify-content */
  align-items: center; /* Updated align-items */
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
}

nav {
  width: 100%;
  background-color: #333;
  color: blue; /* Updated color */
  text-align: left; /* Updated alignment */
  padding: 10px 20px; /* Updated padding */
}

nav a {
  color: blue; /* Updated color */
  text-decoration: none;
  margin: 0 10px;
}

.form-container {
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form textarea,
form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form button {
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.create-button {
  display: block;
  margin: 20px auto 0;
}

.result-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

/* New inline styles from detail.html */
div.center {
  text-align: center;
  margin-top: 20px;
}
